div#categoryTree {
    min-height: 500px;
    border: 1px solid #e2e2e2;
    padding: 10px;
}

div.error-div{
    color:darkred !important;
}

ul.admin-ul-list {
    list-style: none;
    padding-left: 10px;
}

ul.admin-ul-list li{
    padding:5px ;
    cursor: pointer;
}

.table-last-bottom tr:last-child > td{
    border-bottom: 1px solid #e2e2e2 !important;
}

#category-wrapper li.active{
    font-weight: bold;
}

.inline-block{
    display: inline-block !important;
}

.w-100{
    width:100px !important;
}
.w-120{
    width:120px !important;
}
.w-150{
    width:150px !important;
}

.default-my-btn{
    border: 1px solid #A9B6BC;
    background-color: #fff;
    color: #A9B6BC !important;
}

.text-left{
    text-align:left !important;
}

.text-center{
    text-align:center !important;
}

.text-right{
    text-align:right !important;
}

.cursor{
    cursor:pointer !important;
}

.ml-0{margin-left:0px !important;}
.mr-0{margin-right:0px !important;}
.mt-0{margin-top:0px !important;}
.mb-0{margin-bottom:0px !important;}
.ml-10{margin-left:10px !important;}
.mr-10{margin-right:10px !important;}
.mt-10{margin-top:10px !important;}
.mb-10{margin-bottom:10px !important;}
.ml-5{margin-left:5px !important;}
.mr-5{margin-right:5px !important;}
.mt-5{margin-top:5px !important;}
.mb-5{margin-bottom:5px !important;}
.ml-20{margin-left:20px !important;}
.mr-20{margin-right:20px !important;}
.mt-20{margin-top:20px !important;}
.mb-20{margin-bottom:20px !important;}

.my-span-close{
    float:none !important;
    position:absolute;
    right:0px;
}


.one-pic-wrapper{
    margin: 0;
    position: relative;
    float: left;
    border: 1px solid #ddd;
    width: 402px;
    transition: width 0.5s ease 0s;
    border-width: 1px;
    height:402px;
    text-align: center;
}

.one-pic-wrapper span.wrp {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 90%;
}

.one-pic-wrapper span.wrp .upl-selBtnWr{
    display: inline-block;
    overflow: hidden;
    padding: 0px;
    position: relative;
    vertical-align: middle;
    border: 1px solid #e2e2e2;
    color: #0654ba;
}

.thumbsWrap {
    margin: 0 0 0 402px;
    clear: none;
    padding-top: 0;
    position: relative;
    display: block !important;
    max-height: 424px;
    overflow: hidden;
    max-width: 336px;
    background: #fff;
    border-bottom: 1px solid #ddd;
}

#tg-thumbs {
    list-style: none;
    position: relative;
    padding: 0;
    margin: 0;
    vertical-align: top;
    left: 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

#tg-thumbs li {
    height: 100px;
    width: 112px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    overflow: hidden;
    display: inline-block;
    border-width: 0 1px 1px 0;
    vertical-align: middle;
    background: #fff;
    float:left;
}

.thumbsWrap .tg-li {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
}

#tg-thumbs .addPicBtn {
    position: relative;
    top: calc(50% - 9px);
    cursor: pointer;
    text-align: center;
    z-index: 0;
    color: #0654BA;
}